/* Global styling */
body {
    font-family: "Lobster", cursive;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Header styling */
  header {
    background-color: #003366;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    color: #ffffff;
  }
  
  /* Main content styling */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
  }
  
  #countdown {
    font-size: 48px;
    margin-bottom: 20px;
    color: #003366;
    text-align: center;
  }
  
  #logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  #logos img {
    width: 60px;
  }
  
  /* Footer styling */
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer a {
    color: #003366;
  }
  
  /* Dark mode styles */
  body.dark {
    background-color: #333333;
    color: #f0f0f0;
  }
  
  .dark header {
    background-color: #222222;
  }
  
  .dark h1 {
    color: #f0f0f0;
  }
  
  .dark #countdown {
    color: #f0f0f0;
  }
  
  .dark footer {
    background-color: #222222;
  }
  
  .dark a {
    color: #f0f0f0;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    main {
      height: calc(100vh - 200px);
    }
  
    #countdown {
      font-size: 32px;
    }
  
    #logos img {
      width: 40px;
    }
  }
  
  #quotes-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    height: 300px; /* Adjust the height as needed */
  }
  
  #quote-content {
    flex: 1;
    font-size: 24px; /* Increase the font size */
    text-align: center;
    overflow: auto; /* Add scrollbars if the content exceeds the container height */
  }
  
  #quote-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  